*{
    margin: 0;
    padding: 0;
}

.navbar{
    
    border-radius: 20px;
    width: 70%;
    height: 50px;
}

.first{
    padding-top: 20px;
    height: 100vh;
    background-color: #eff2f9;
}

a:hover{
   color: #4285F4;
}

