<div class="container-fluid first">
<nav class="navbar navbar-expand-lg bg-white mx-auto">
  <div class="container-fluid">
    <a class="navbar-brand ms-4" routerLink="mainpage">Real Estate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="create">Hirdetésfeladás</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-5" routerLink="list">Hirdetések megtekintése</a>
        </li>
      </ul>
      <a class="nav-link ms-5" routerLink="login" *ngIf="!this.service.isLoggedIn()">Belépés</a>
      <a class="nav-link disabled" *ngIf="this.service.isLoggedIn()">Belépve mint, {{this.service.getFullName()}}</a>
      <a class="nav-link ms-2" routerLink="mainpage" *ngIf="this.service.isLoggedIn()" (click)="this.service.logout()">Kilépés</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
</div>
